@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Serif Pro';
  src: url('https://cdn.kastatic.org/genwebpack/prod/en/fonts/03ac24f73354c182-SourceSerifPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('https://cdn.kastatic.org/genwebpack/prod/en/fonts/b430c69579ae2887-SourceSerifPro-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #5f6167;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply box-border;
}

html {
  @apply h-full m-0;
}

body {
  @apply h-full m-0 font-sans leading-[1.4];
  color: #21242c;
}

#app {
  @apply h-full;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}