@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Serif Pro';
  src: url('https://cdn.kastatic.org/genwebpack/prod/en/fonts/03ac24f73354c182-SourceSerifPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('https://cdn.kastatic.org/genwebpack/prod/en/fonts/b430c69579ae2887-SourceSerifPro-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Lato';
  src: url('https://cdn.kastatic.org/genwebpack/prod/en/fonts/d45d409d2fa42169-LatoLatin-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('https://cdn.kastatic.org/genwebpack/prod/en/fonts/1cf13853095a62e2-LatoLatin-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Lato';
  src: url('https://cdn.kastatic.org/genwebpack/prod/en/fonts/71fc01820777da89-LatoLatin-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #21242c;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply box-border;
}

html {
  @apply h-full m-0;
}

body {
  @apply h-full m-0 font-sans leading-[1.4];
  color: #21242c;
}

#app {
  @apply h-full;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}